* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height: 8vh;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    display: inline-block;
    font: 3vh;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
nav button{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 3vh;
    margin-right: 20px;

}
nav img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}
.main-class{
    height: 82vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a:hover{
    border-bottom: 2px solid violet;
}
.footer{
    color: aliceblue;
    background-color: blueviolet;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer a{
    text-decoration: none;
    color: aliceblue;
}
.footer h1{
    padding: 20px;
}